.carrito{
height: 49px;
width: 40px;
border-left: 1px solid #FFF;
border-right: 1px solid #FFF
}

.narticulos{
    padding-right: 8%;
    padding-top: 5%;
}

.quitazul{
    color: #000000;
}

.quitazul:hover{
    color: #000000;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 100px;
    position:absolute;
    margin-top: 20px;

}

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.categoria{
    background-color: #39b3d7;
    color: #ffffff;
}

p{
   color: #080808;
}

h3{
    color:#080808;
}

.padding-left-2{
    padding-left: 2%;
}

.padding-left-10{
    padding-left: 10%;
}

.bordebajo{
    border-bottom: 2px solid darkgrey;
    max-height:340px;
}

.bordealto{
        border-top: 2px solid darkgrey;

}

.cantidad{
    border: 1px solid rgb(189, 194, 201);
}

.padding-top-8{
    padding-top: 8%;
}

.padding-top-2{
    padding-top: 2%;
}

.padding-top-39{
    padding-top: 39%;
}


.hover:hover{
color: cornflowerblue;
}

.tam{
    color: #000000;
    font-size: x-large;
}

.homeicon{
width: 40px;
height: 38px;
display: block;
margin-top: 15px;
}

.barramenu{
   border-bottom: 2px solid cornflowerblue;
}

.socialicons{
float: right;
}

.socialicons a{
    display: inline-block;
    width: 26px;
    height: 23px;
    float: right;
}

.icon-3 {
    background: url("../img/google-plus-icono.png") no-repeat scroll 0px 0px transparent;

}

.icon-1 {
    background: url("../img/icon-1.png") no-repeat scroll 0px 0px transparent;

}

.icon-2{
    background: url("../img/icon-2.png") no-repeat scroll 0px 0px transparent;

}

.siguenos{
   position: relative;
display: block;
padding: 15px 15px;
    line-height: 20px;
}

.nav-mayor{
    width: 100%;
}

.derecha{
    position: relative;
    left: 35%;
    bottom: 270px;
}

.oferta{
    position: absolute;
}


#map-canvas{
    width: 500px;
    height: 400px;

}

.margenselection{
    margin-right: 10%;
}

.posicioncorrectaflecha{
float:right;
}

.copyright{
    position: relative;
    top: 45px;
}

.articuloshome{
    margin-left: 70px;
    max-height: 368px;
    max-width: 300px;
}

.imagenhome{
    height: 180px;
    width: 220px;
}

.padding-top-15{
    padding-top: 15%;
}

.panellomasnuevo{
    background: #28a4c9;
    margin-top: 5%;
    margin-bottom: 5%;
    color:#ffffff;
    padding: 11px 10px 9px;
    font: 400 18px/17px Lato,Arial,Verdana,sans-serif;
}

.padding-left-4{
    padding-left:4%;
}

.iconooferta{
    position: relative;
    top: 50px;
}

.navbar-deportmania{
    max-width: 1200px;
margin-left: 83px;
}