{% extends 'master.html' %}

{% block content %}

<div class="container-fluid">
<div class="pull-left padding-left-2 col-md-2">

<h3 class="text-justify">
    <a href="/ofertas" class="quitazul"> Ofertas destacadas</a></h3>
    <ul class="list-group"><h2 >Categorias</h2>
        {% for elem1 in familias %}
        <li class="list-group-item"><a href="{% url 'fami_info' familia_id=elem1.id %}">{{ elem1.nombre }}</a></li>
       {% endfor %}

    </ul>
</div>
<div class="container">
    <div class="col-md-4 padding-top-5 padding-left-10">
    <img src="{{ MEDIA_URL}}{{ articulo.imagen }}" style="width: 350px;height: 350px;">
    </div>
    <div class="align-right col-md-6 padding-top-5 padding-left-10">

        <table>
            <tr>
                <td class="text-center">
                    <h4>{{ producto.name }}</h4>
                </td>
            </tr>
            <tr class="text-center">
                <td><h2 style="color: deepskyblue">{{ producto.unit_price }}€</h2>
                <span style="color: #808080">IVA incluido</span></td>
            </tr>
        <form method="post" action="{% url 'cart' %}">{% csrf_token %}

            <tr class="text-center">
                <td><h5>Tallas:</h5>
                <select name="option" required>
                    {% for elem1 in talla %}
                <option value="{{ elem1.talla }}" id="option" name="option">{{ elem1.talla }},{{ elem1.existencias }} existencias
                </option>
                    {% endfor %}
                </select>
            </tr>
            <tr class="text-center">
                <td><h5>Marca : {{ articulo.marca }}</h5></td>
            </tr>

        <tr>
            <td class="text-center">Existencias: {{ existencias }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ articulo.devolucion }} dia/s para devolverlo desde el recibo del mismo</td>
        </tr>
        {% if request.user.is_authenticated %}
        <tr>
            <td class="padding-top-5 text-center">
                     <input type="hidden" value="prueba" value="prueba">
                     <input type="hidden" name="add_item_id" value="{{producto.id}}">
                     <input type="hidden" name="add_item_quantity" value="1">
                     <input type="submit" class="btn btn-primary" value="Añadir al carrito">
                 </form>
            </td>
        </tr>
        {% endif %}
        </table>


    <div class="padding-top-2"></div>

    </div>
    {% if request.user.is_authenticated %}
    <div class="col-md-10 padding-top-5">
        <h4 class="text-center">Recomendaciones personalizadas</h4>
    {% for elem2 in recomendaciones %}
    <div class="col-md-2 thumbnail margenrecomendacionarticulo">

               <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}"><img class="img-responsive img-xs-custom" src="{{ MEDIA_URL }}{{ elem2.imagen }}"></a>
                <div class="caption">
                    <h6>{{ elem2.name }}</h6>
                    <p style="font-size: small">{{ elem2.unit_price}}€</p>
                   <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}">+Info</a>
                </div>


    </div>

    {% endfor %}
    {% endif %}
    </div>

    <div class="col-md-12 padding-left-15 padding-top-2 ">
    <ul class="nav nav-tabs nav-pills" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#articulo" aria-controls="articulo" role="tab" data-toggle="tab">Comentario Sobre Articulo</a></li>
    {% if request.user.is_authenticated %}
    <li role="presentation"><a href="#comenarti" aria-controls="comenarti" role="tab" data-toggle="tab">Añadir Opinion Sobre Articulo</a></li>

    {% endif %}
    </ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active padding-top-2" id="articulo">
    <h3 class="text-center">Comentarios sobre el producto</h3>
      {% if comenarticulo.len == 0 %}
        <p class="text-info">Actualmente no hay comentarios</p>

        {% else %}
             {% for elem in comenarticulo %}
      <div class="thumbnail">
      <h4 style="color: #808080">{{ elem.user.username }}</h4>
      <p>{{ elem.opinion }}</p>
      <p>¿Recomendarias su compra?:{% if elem.recomendar == True %}
      Si{% else %}
      No{% endif %}</p>
      <p>Valoracion: {{ elem.valoracion }} /5  </p>
      </div>

      {% endfor %}
  {% endif %}

          <a href="#top" class="padding-bottom-5 padding-left-2"><img class="" style="width: 50px;height: 50px" src="{{ STATIC_URL }}img/scroll.png"></a>

  </div>
  <div role="tabpanel" class="tab-pane padding-top-2" id="comenarti">

<form action="" method="post" >{% csrf_token %}
<h2>Escribir opinión</h2>
<div class="">
<p>
<strong>Condiciones de uso:</strong>:
Le rogamos que <strong>su opinion acerca del artículo sea lo más objetiva posible</strong>, ya que <strong>puede influir en la decisión de clientes a la hora de comprar o desechar este artículo</strong>.
Por favor, use un lenguaje apropiado, no se permitirán opiniones ofensivas. Tampoco se permitirán mensajes no relacionados con este artículo o aquellas opiniones que hablen única y exclusivamente del precio del mismo.
    </p>
    </div>
    <div>
    <label for="opinion">Opinion</label>
    <textarea class="form-control" id="opinion" name="opinion" cols="50" rows="5"></textarea>
    </div>
    <label for="valoracion">Valoración</label>
    <input type="number" id="valoracion" name="valoracion" placeholder="Valoracion" class="form-control" >
         <div class="padding-top-2"></div>
    <div>
    <label for="recomendar">¿Recomendaria este producto?</label>
    Si<input type="radio" value="si"  name="recomendar" id="recomendar">
    No<input type="radio" value="no" name="recomendar" id="recomendar">
    </div>

    <input class="btn btn-info" type="submit" value="Insertar opinion" id="submit" name="submit">

    <input name="user" id="user" value="{{ request.user }}" type="hidden">

</label>
</form>

  </div>

</div>


<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
    </div>
</div>
</div>

{% endblock %}