{% extends 'master.html' %}


{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h3 class="text-center padding-bottom-5">Editar informacion de Perfil</h3>

        <div class="col-md-8  thumbnail col-centered">
            <form method="post">{% csrf_token %}
                <h6 class="text-center"><label class="center-block" form="username">Username</label></h6>
                <input type="text" class="form-control" name="username" id="username" placeholder="{{ deportuser.djangoUser.username }}">
                 <h6 class="text-center"><label class="center-block" form="email">Email</label></h6>
                <input type="email" class="form-control" name="email" id="email" placeholder="{{ deportuser.djangoUser.email}}">
                 <h6 class="text-center"><label class="center-block" form="nacimiento">Nacimiento</label></h6>
                <input type="date" class="form-control" name="nacimiento" id="nacimiento" placeholder="{{ deportuser.birthday }}">
                 <h6 class="text-center"><label class="center-block" form="poblacion">Poblacion</label></h6>
                <input type="text" class="form-control" name="poblacion" id="poblacion" placeholder="{{ deportuser.poblacion}}">
                </br>
                    <input type="submit" class="btn btn-primary" name="submit" value="Modificar"> <input type="submit" class="btn btn-danger" name="delete" value="Eliminar cuenta">
            </form>
        </div>
    </div>

{% endblock %}