{% extends 'master.html' %}
{% block content %}
<div class="container">
<table class="col-centered">
      <tbody><tr>
        <th scope="col" >&nbsp;</th>
        <th scope="col" >&nbsp;</th>
          <img class="center-block" src="{{ STATIC_URL }}img/logotrans.png" height="62" width="226">
      </tr>

      <tr>
        <td>Deportmania</td>
        <td colspan="6" >Mail: deportmania@pointsport.com</td>
      </tr>

      <tr>
        <td>C/ Fuentevieja 14</td>
          <td colspan="6">Telefono: 3652145978</td>
      </tr>


    </tbody></table>

<table class="col-centered padding-top-8 table-responsive" border="0" cellpadding="0" cellspacing="0">
<button class="glyphicon glyphicon-envelope glyphicon-topright2 glyphicon-print" onclick="pr();"></button>

  <tbody><tr>
    <th scope="col" width="10">&nbsp;</th>

    <th scope="col" width="10">&nbsp;</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="">&nbsp;</td>
    <td>&nbsp;</td>

  </tr>
  <tr>
    <td>

       <tr>
        <td class="padding-top-2" >Nombre:</td>
        <td colspan="6" class="padding-top-2">{{ fact.nombre }}</td>
        <td class="padding-top-2 padding-left-10" >Nº Factura:</td>
        <td  class="padding-top-2">{{ fact.id }}</td>
        </tr>
       <tr>
        <td class="padding-top-2" >Apellidos:</td>
        <td colspan="6" class="padding-top-2">{{ fact.apellidos }}</td>
        <td class="padding-top-2 padding-left-10">DNI:</td>
        <td class="padding-top-2">{{ fact.dni }}</td>
        </tr>
       <tr>
        <td class="padding-top-2" >Empresa:</td>
        <td colspan="6" class="padding-top-2">{% if empresa != "" %}{{ fact.empresa }}{% endif %}</td>
        <td class="padding-top-2 padding-left-10">NIF Empresa:</td>
        <td class="padding-top-2">{% if nif != "" %}{{ fact.nifempresa }}{% endif %}</td>
        </tr>
      <tr>
        <td class="padding-top-2" >Direccion:</td>
        <td colspan="6" class="padding-top-2">{{ pedido.billing_address_text }}</td>
        <td class="padding-top-2 padding-left-10">Fecha de Emisión:</td>
        <td class="padding-top-2">{{ fact.fecha }}</td>
        </tr>
</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>

    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr></tbody></table>
        <table class="table table-hover col-md-8">
          <thead>
            <tr>
            <th>Articulo</th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
            <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            {% for elem in articulos %}

                <tr>
                  <td>{{ elem.product_name }}</td>
                  <td>{{ elem.unit_price }}</td>
                  <td>{{ elem.quantity }}</td>
                  <td>{{ elem.line_subtotal }}</td>
                  <td>{{form.instance.talla}}</td>
                </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <tr><td colspan="2">&nbsp;</td><td>Subtotal Pedido</td><td>{{pedido.order_subtotal}}</td></tr>
            {% for extra_price_field in cart.extra_price_fields %}
              <tr>
                <td colspan="2">&nbsp;</td>
                <td>{{ extra_price_field.0 }}</td>
                <td>{{ extra_price_field.1 }}</td>
              </tr>
            {% endfor %}
            <tr><td colspan="2">&nbsp;</td><td><b>Total Pedido</b></td><td><b>{{pedido.order_total}}</b></td></tr>
          </tfoot>
        </table>



</div>
<script>
        function pr(){
            //$('#email').hide();
            //$('.img-export').hide();
            window.print();
            $('#print').visible=true;
            //$('#email').visible=true;
            //$('.img-export').visible=true;
        }
    </script>
{% endblock %}