{% extends 'master.html' %}

{% block content %}
<div class="container-fluid">
<div class="pull-left padding-left-2 col-md-2">
    <ul class="list-group"><h2>Categorias</h2>
        {% for elem1 in familias %}
        <li class="list-group-item"><a href="{% url 'fami_info' familia_id=elem1.id %}">{{ elem1.nombre }}</a></li>
       {% endfor %}

    </ul>
</div>

<div class="container">
        <div class="padding-left-15">
        {% for elem in articulos %}
        <div class="bordebajo padding-top-2" >
                <div class="float-left" style="width: 290px">
               <a class=""  href="{% url 'articulo_info' articulo_id=elem.id %}"><img class="img-responsive float-left" src="{{ MEDIA_URL }}{{ elem.imagen }}"></a>
                </div>
                <div class="derecha" style="width: 400px">
                    <h4> <a href="{% url 'articulo_info' articulo_id=elem.id %}">{{ elem.name }}</a></h4>
                    <br/>
                    <p>{{ elem.unit_price }} EUR</p>
                 <div class="padding-top-39">
                     {% if request.user.is_authenticated %}
                <form action="{% url 'cart' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="add_item_id" value="{{elem.id}}">
                     <input type="hidden" name="add_item_quantity" value="1">
                     <input type="submit" class="btn btn-primary" value="Añadir al carrito">
                 </form>
                     {% endif %}
                 </div>
            </div>
        </div>
         {% endfor %}
        </div>
          <a href="#top" class="padding-bottom-5 padding-left-2 "><img class="" style="width: 50px;height: 50px" src="{{ STATIC_URL }}img/scroll.png"></a>

</div>
</div>

{% endblock %}