{% extends 'master.html' %}

{% block content %}
<div class="container-fluid">
<div class="float-left padding-left-2 col-md-2">
    <ul class="list-group"><h2>Categorias</h2>
        {% for elem1 in familias %}
        <li class="list-group-item"><a href="{% url 'fami_info' familia_id=elem1.id %}">{{ elem1.nombre }}</a></li>
       {% endfor %}

    </ul>
</div>

<div class="float-right col-md-10">
        <div class="padding-left-4">
        {% for elem in articulos %}
            {% if forloop.revcounter != 1 %}
        <div class="bordebajo padding-top-2 padding-left-15" >
                <div class="" style="">
               <a class=""  href="{% url 'articulo_info' articulo_id=elem.id %}"><img class="img-responsive img-lg-custom float-left" src="{{ MEDIA_URL }}{{ elem.imagen }}"></a>
                </div>
                <div class="derecha" style=" max-width: 230px;margin-left: 25%">
                    <h4> <a href="{% url 'articulo_info' articulo_id=elem.id %}">{{ elem.name }}</a></h4>
                    <br/>
                    <p>{{ elem.unit_price }} EUR</p>
                 <div class="padding-top-15">
                     {% if request.user.is_authenticated %}
                <form action="{% url 'cart' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="add_item_id" value="{{elem.id}}">
                     <input type="hidden" name="add_item_quantity" value="1">
                     <input type="submit" class="btn btn-primary" value="Añadir al carrito">
                 </form>
                     {% endif %}
                {% else %}
                <div class="padding-top-2 padding-left-15" >
                <div class="" style="">
               <a class=""  href="{% url 'articulo_info' articulo_id=elem.id %}"><img class="img-responsive img-lg-custom float-left" src="{{ MEDIA_URL }}{{ elem.imagen }}"></a>
                </div>
                <div class="derecha" style=" max-width: 230px;margin-left: 25%">
                    <h4> <a href="{% url 'articulo_info' articulo_id=elem.id %}">{{ elem.name }}</a></h4>
                    <br/>
                    <p>{{ elem.unit_price }} EUR</p>
                 <div class="padding-top-15">
                     {% if request.user.is_authenticated %}
                <form action="{% url 'cart' %}" method="post">{% csrf_token %}
                 <input type="hidden" name="add_item_id" value="{{elem.id}}">
                     <input type="hidden" name="add_item_quantity" value="1">
                     <input type="submit" class="btn btn-primary" value="Añadir al carrito">
                 </form>
                     {% endif %}
                 {% endif %}
                 </div>
            </div>
        </div>
         {% endfor %}
        </div>

</div>
          <a href="#top" class="padding-bottom-5 padding-left-2"><img class="" style="width: 50px;height: 50px" src="{{ STATIC_URL }}img/scroll.png"></a>

</div>

{% endblock %}