{% extends 'master.html' %}

{% block content %}
    {% if msg != "" %}
        <div class="text-green" xmlns="http://www.w3.org/1999/html">{{ msg }}</div>
    {% endif %}
<div class="container-fluid row-fluid">
<div class="float-left padding-left-4 col-md-2">

<h3 class="text-justify">
    <a href="/ofertas" class="quitazul"> Ofertas destacadas</a></h3>
    <ul class="list-group"><h2 >Categorias</h2>
        {% for elem1 in familias %}
        <li class="list-group-item"><a href="{% url 'fami_info' familia_id=elem1.id %}">{{ elem1.nombre }}</a></li>
       {% endfor %}

    </ul>
{% if request.user.is_authenticated %}
    {% if request.user.username != "ispp" %}
<h4 class="text-justify">Recomendaciones personalizadas</h4>
    {% for elem2 in recomendaciones %}
    <div class="col-md-1 thumbnail-xs-custom">

               <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}"><img class="img-responsive img-xs-custom" src="{{ MEDIA_URL }}{{ elem2.imagen }}"></a>
                <div class="caption">
                    <h6>{{ elem2.name }}</h6>
                    <p style="font-size: small">{{ elem2.unit_price}}€</p>
                   <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}">+Info</a>
                </div>


    </div>

    {% endfor %}
{% endif %}
{% endif %}
</div>

<div class="float-right col-md-10">

        <div class="row row-fluid padding-top-2 padding-left-4">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ STATIC_URL }}img/te_odiaran_predator_f50.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="{{ STATIC_URL }}img/asics-gel-nimbus-17.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="{{ STATIC_URL }}img/adidas.jpg" alt="Flower">
    </div>

    <div class="item">
      <img src="{{ STATIC_URL }}img/asics-gel-nimbus-17.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="tab-pane panellomasnuevo">
LO MÁS NUEVO
</div>

        {% for elem in articulos %}


         {% endfor %}
        {% for elem in contacts %}
    {# Each "contact" is a Product model object. #}
             <div class="col-md-3 articuloshome " >
            <div class="thumbnail" style="max-height: 368px;">
               <a href="{% url 'articulo_info' articulo_id=elem.id %}"><img class="img-responsive imagenhome" src="{{ MEDIA_URL }}{{ elem.imagen }}"></a>
                <div class="caption" style="height: 128px">
                    <h4>{{ elem.name }}{{ elem1 }}</h4>
                    <p>{{ elem.unit_price}}€</p>
                   <a  href="{% url 'articulo_info' articulo_id=elem.id %}">+Info</a>
                </div>
            </div>

        </div>

        {% endfor %}


        </div>
<nav>
 <ul class="pager">
            <span class="step-links">
        {% if contacts.has_previous %}
          <li><a  href="?page={{ contacts.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
           <li><a href="?page={{ contacts.next_page_number }}">next</a></li>
        {% endif %}
    </span>
</ul>
</nav>
<a href="#top" class="padding-bottom-5 padding-left-2 posicioncorrectaflecha"><img class="" style="width: 50px;height: 50px" src="{{ STATIC_URL }}img/scroll.png"></a>

</div>

</div>

</div>
</div>




</div>
{% endblock %}

<script type="application/javascript">
  $("a[href='#top']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
</script>
