{% extends 'master.html' %}

{% block content %}
    <div class="container">
    <p class="text-green">{{ msg }}</p>
    <p>Hola admin {{ user.username }}. A continuacion se muestran las distintas funcionalidades disponibles:</p>
       <ul>
           <li><a href="/creararticulo">Crear Articulo</a></li>
           <li><a href="/listarticulo">Modificar/Borrar Articulo</a></li>
           <li><a href="/ponertalla">Incluir Tallas y existencias a un articulo</a></li>
           <li><a href="/modificartalla">Modificar/Borrar Tallas y existencias existentes en un articulo</a></li>
           <li><a href="/crearoferta">Crear Oferta</a></li>
           <li><a href="/listaoferta">Modificar/Borrar Oferta</a></li>
           <li><a href="/crearfamilia">Añadir Familia</a></li>
           <li><a href="/listafamilias">Modificar/Borrar Familia</a></li>
           <li><a href="/crearproveedor">Añadir Proveedor</a></li>
           <li><a href="/listaproveedor">Modificar/Borrar Proveedor</a></li>
           <li><a href="/crearcompania">Añadir Compañia</a></li>
           <li><a href="/listacompania">Modificar/Borrar Compañia</a></li>
           <li><a href="/modificacuenta">Modificar Nº de cuenta</a></li>
       </ul>
    </div>

{% endblock %}