    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DeporTmania</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">


</head>
<nav class="navbar navbar-default  bordebajo" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/home">
                <img style="height: 50px;width: 150px;" src="{{ STATIC_URL }}img/logo.jpg">
                </a>
            </div>

            <div class="">
                <form class="navbar-form navbar-left padding-left-25" role="search" action="/search" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="search" class="form-control buscador">

                    </div>
                    <button type="submit" class="btn btn-default"><span
                            class="glyphicon glyphicon-search"></span></button>
                </form>
            {% if request.user.is_authenticated %}
            <div class="col-md-4 padding-left-15">
            {{ duser.nombre }}
              <a href="/shop/cart"><img class="carrito" src="{{ STATIC_URL }}img/carrito.png"> </a>
              <div class="pull-left narticulos">

              </div>
            </div>
            {% endif %}
      </div>
            <ul class="nav nav-bar navbar-right">

    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog btn"></span> </a>
            <ul class="dropdown-menu">
                   {% if request.user.is_authenticated %}
                       <div>
                       <h4 class="text-center">{{ request.user.username }}</h4>
                       </div>
                       {% if request.user.is_superuser %}
                    <li><a class="quitazul" href="/homeadmin">Mi Cuenta</a></li>
                    {% else %}
                    <li><a class="quitazul" href="/perfil">Mi Cuenta</a></li>
                    {% endif %}
                    <li><a class="quitazul" href="/cerrar">Cerrar sesion</a></li>
                   {% else %}
                    <li ><a class="quitazul" href="/register">Registrarse</a></li>
                    <li ><a class="quitazul" href="/login">Iniciar Sesion</a></li>
                   {% endif %}
                </ul>
    </div>

    </ul>
        </div>
    </nav>


<nav class="navbar navbar-default navbar-deportmania" style="margin-top: 5%;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  href="/home"><img src="{{ STATIC_URL }}img/home.png" class="homeicon"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="padding-top: 1%;">
        <li class="hover tam"><a href="/quienes">Quienes Somos </a></li>
        <li class="hover tam"><a href="/contacto">Contacto</a></li>
        <li class="hover tam">
          <a href="/politica" >Politica de Empresa </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <h5>Siguenos en</h5>
                  <p>
                  <a class="quitazul" href="https://www.facebook.com/profile.php?id=100009098304563">
                      <img src="{{ STATIC_URL }}img/facebook-color.png">
                  </a>
                  <a class="quitazul" href="">
                      <img src="{{ STATIC_URL }}img/twitter-color.png">
                  </a>
                  </p></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>

{% block content %}


{% endblock %}

</body>


</html>


<script src="{{ STATIC_URL }}js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/dropzone.js"></script>
