{% extends 'master.html' %}


{% block content %}
<div class="container">

<div class="container-fluid">
    <h3>Modificar un artículo</h3>
    <form action="" method="post">{% csrf_token %}
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="{{ articulo.name}}">
    <label for="familia">Familia</label>
    <select class="form-control" name="familia" >
     {% for elem in familias %}
     {% if elem == articulo.familia %}
     <option value="{{ elem.nombre }}" selected>{{ elem.nombre }}</option>
     {% else %}
     <option value="{{ elem.nombre }}" id="familia">{{ elem.nombre }}</option>
     {% endif %}
     {% endfor %}


    </select>
        <label for="precio">Precio</label>
     <input type="number" class="form-control" name="precio" id="precio" placeholder="{{ articulo.unit_price }}">
     <label for="marca">Marca</label>
     <input type="text" class="form-control" name="marca" id="marca" placeholder="{{ articulo.marca }}">
     <label for="devolucion">Periodo de Devolucion</label>
     <input type="number" name="devolucion" class="form-control" id="devolucion" placeholder="{{ articulo.devolucion }}">
     <label for="proveedor">Proveedor</label>
     <select class="form-control" name="proveedor" >
     {% for elem in proveedores %}
     {% if elem == articulo.proveedor %}
     <option value="{{ articulo.proveedor.nombre }}" selected>{{ articulo.proveedor.nombre }}</option>
     {% else %}
     <option value="{{ elem.nombre }}" id="proveedor">{{ elem.nombre }}</option>
     {% endif %}
     {% endfor %}
     </select>
     <label for="imagen">Imagen</label>
    <input type="hidden" value="{{ articulo.imagen }}"name="img">
     <input id="imagen" class="form-control" name="imagen" type="file" value="{{ articulo.imagen }}">
    <div class="padding-top-2"></div>
     <input type="submit" class="btn btn-info" name="modify" value="Modificar">
     <input type="submit" class="btn btn-danger" name="delete" value="Borrar">

    </form>
</div>

</div>
{% endblock %}