{% extends 'master.html' %}

{% block content %}
<div class="container">

<form action="" method="post">{% csrf_token %}
    <label for="descuento">Descuento (%)</label>
    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="{{ oferta.descuento }}">
    <label for ="inicio">Fecha de Inicio(YYYY-MM-DD)</label>
    <input type="date" class="form-control" name="inicio" id="inicio" placeholder="{{ oferta.fechainicio }}">
    <label for="fin">Fecha Fin(YYYY-MM-DD)</label>
    <input type="date" class="form-control" name="fin" id="fin" placeholder="{{ oferta.fechafin }}">
    <div class="padding-top-2"></div>
    <input type="submit" name="modify" class="btn btn-info" value="Modificar">
    <input type="submit" name="delete" class="btn btn-danger" value="Borrar">
</form>
</div>

{% endblock %}