{% extends 'master.html' %}


{% block content %}
<div class="container-fluid">
<div class="float-left padding-left-2 col-md-2">

<h3 class="text-justify">
    <a href="/ofertas" class="quitazul"> Ofertas destacadas</a></h3>
    <ul class="list-group"><h2 >Categorias</h2>
        {% for elem1 in familias %}
        <li class="list-group-item"><a href="{% url 'fami_info' familia_id=elem1.id %}">{{ elem1.nombre }}</a></li>
       {% endfor %}

    </ul>
    {% if request.user.is_authenticated %}
        {% if request.user.username != "ispp" %}
    <h4 class="text-justify">Recomendaciones personalizadas</h4>
    {% for elem2 in recomendaciones %}
    <div class="col-md-1 thumbnail-xs-custom">

               <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}"><img class="img-responsive img-xs-custom" src="{{ MEDIA_URL }}{{ elem2.imagen }}"></a>
                <div class="caption">
                    <h6>{{ elem2.name }}</h6>
                    <p style="font-size: small">{{ elem2.unit_price}}€</p>
                   <a style="font-size: small" href="{% url 'articulo_info' articulo_id=elem2.id %}">+Info</a>
                </div>


    </div>

    {% endfor %}
    {% endif %}
    {% endif %}
</div>


    <div class="float-right">
    {% for elem in ofertas %}
         <div class="row padding-top-5 padding-left-15">

    <div class="col-md-4 col-sm-6" >
            <div class="thumbnail">
               <a href="{% url 'ofe_info' oferta_id=elem.id %}"><img class="img img-lg-custom" src="{{ MEDIA_URL }}{{ elem.articulo.imagen }}"></a>
                <div class="caption">
                    <h4>{{ elem.articulo.name }}</h4>
                    <p>Precio anterior:{{ elem.precioviejo}}€</p>
                    <p>Descuento:{{ elem.descuento }}%</p>
                    <p>Precio nuevo:{{ elem.articulo.unit_price }}</p>
                   <a href="{% url 'ofe_info' oferta_id=elem.id %}">+Info</a>
                </div>
            </div>

        </div>

    {% endfor %}
    </div>

</div>
</div>
{% endblock %}