{% extends 'master.html' %}

{% load i18n %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
  <li >Resumen del pedido</li>
  <li>Dirección</li>
  <li>Transporte</li>
  <li class="active">Pago</li>
</ol>

<h1>{% trans "Pago" %}</h1>
<p>A continuacion, el siguiente boton le direccionara el sitio paypal para realizar el pago del pedido</p>
    </br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    {% csrf_token %}
        {{ form.render}}

    </form>
</div>

{% endblock %}