{% extends 'master.html' %}



{% block content %}
<div class="container">
<h2>Pedidos</h2>
<table class="table table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Estado</th>
          <th>Total</th>
          <th>Fecha</th>
          <th>Factura</th>
        </tr>
      </thead>
      <tbody>
      {% for elem in pedidos %}
          <form method="post" action="{% url 'factura' order_id=elem.id %}">{% csrf_token %}
        <tr>
          <th>{{ elem.id }}</th>
          <td>{{ elem.user }}</td>
          <td>{% if elem.status == 10 %}
                Procesando
              {% elif elem.status == 20 %}
                Confirmando
              {% elif elem.status == 30 %}
                Confirmado
              {% elif elem.status == 40 %}
                Completado
              {% elif elem.status == 50 %}
                Enviado
              {% elif elem.status == 60 %}
                Cancelado
              {% endif %}
          </td>
          <td >{{ elem.order_total }}</td>
          <td>{{ elem.created }}</td>
          <td>
              <input type="submit" class="btn btn-primary" value="descargar">
          </td>
        </tr>
          </form>
      {% endfor %}
      </tbody>
</table>

</div>



{% endblock %}