{% load simplevariation_tags %}
<h1>Book Product detail:Pene</h1>
{{object.name}}<br />
{{object.slug}}<br />
{{object.short_description}}<br />
{{object.long_description}}<br />
{{object.active}}<br />

{{object.date_added}}<br />
{{object.last_modified}}<br />

{{object.unit_price}}<br />

{% if object.category %}
{{object.category.name}}
{% else %}
(Product is at root category)
{% endif %}
<br />

<h2>Book specifics:</h2><br />
ISBN: {{object.isbn}}<br />
Pages: {{object.number_of_pages}}<br />


<form method="post" action="{% url cart %}">{% csrf_token %}
<input type="hidden" name="add_item_id" value="{{object.id}}">
<input type="hidden" name="add_item_quantity" value="1">
<input type="submit" value="Add to cart">
</form>

<form method="post" action="{% url cart %}">{% csrf_token %}
{% with option_groups=object|get_option_groups %}
  {% if option_groups %}
    <div>
      <h2>Variations:</h2>
      {% for option_group in option_groups %}
        <label for="add_item_option_group_{{ option_group.id }}">{{ option_group.name }}</label>
        {% with option_group|get_options as options %}
          <select name="add_item_option_group_{{ option_group.id }}">
            {% for option in options %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endfor %}
          </select>
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% with text_options=object.text_options.all %}
  {% if text_options %}
    <div>
      <h2>Text options:</h2>
      {% for text_option in text_options %}
        <label for="add_item_text_option_{{ text_option.id }}">{{ text_option.name }}</label>
        <input type="text" name="add_item_text_option_{{ text_option.id }}" value=""/>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<input type="hidden" name="add_item_id" value="{{object.id}}">
<input type="hidden" name="add_item_quantity" value="1">
<input type="submit" value="Add to cart">
</form>
