{% extends 'master.html' %}

{% block content %}

    <div class="row padding-top-2  container center-block">
        <div class="padding-left-25 padding-right-25">
            <div class="panel col-lg-12 ">
                 <h1 class="text-center padding-top-2" style="color: deepskyblue">Registro</h1>
                {% if not djangoform.is_valid %}
                <div class="alert alert-danger">
                {{ djangoform.errors }}


                {% endif %}
               {% if not userform.is_valid %}


                {{ userform.errors }}
                </div>
                {% endif %}
                <form class="form-signup-custom" action="/register" role="form" enctype="multipart/form-data"
                      method="post"> {% csrf_token %}
                    <div id="divUsername" class=" ">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter username" onblur="validateusr(false)">

                    </div>

                    <div id="divEmail" class="form-group has-feedback">
                        <label for="email">Correo electronico</label>
                        <input type="email" class="form-control" id="email" name="email" onblur="validatemail(false)"
                               placeholder="Enter email">

                    </div>
                    <div class="form-group ">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password" onkeyup="passWeakness()">

                    </div>
                    <div class="form-group ">
                        <label for="birthday">Fecha de nacimiento (YYYY-MM-DD)</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" placeholder="YYYY-MM-DD">
                    </div>
                    <div class="form-group select-custom">
                        <label for="option1">Genero</label>
                        <select id="gender" name="gender" class="form-control select-custom">
                            <option id="option1" value="f">Mujer</option>
                            <option id="option2" value="m">Hombre</option>
                        </select>
                    </div>

                    <div id="profileimage" class="form-group">
                        <label for="poblacion">Poblacion</label>
                        <input id="poblacion" class="form-control" name="poblacion" type="text" placeholder="Poblacion">
                    </div>
                    <div class="help-block ">
                        <p class="help-block text-center">Aceptando el formulario, aceptas nuestros <a href="/terms">terminos &
                            condiciones</a>.</p>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" name="submit" class="btn btn-info">Registrarse</button>
                    </div>

                    <div class="hidden">
                        <input name="inORup" value="up">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

