{% extends "shop/base.html" %}
{% load i18n %}
{% load url from future %}
{% load shop_tags %}
{% block body %}
<div class="container">
  <h1>Direccion envio/facturacion</h1>
  <form method="POST">
  {% csrf_token %}
      <div class="col-md-12">
  <div class="float-left thumbnail col-md-5 margenselection">
  <h3 class="text-center">Your shipping address</h3>
      <div class="text-center">
  {{ shipping_address.as_p }}
          </div>
  </div>
  <div class="thumbnail float-right col-md-5">
  <h3 class="text-center">Your billing address</h3>
  <div class="text-center">{{ billing_address.as_p }}</div>
  </div>
  </div>
  <div class="text-center">
  <h3>Payment and shipping method</h3>
  {{ billing_shipping_form.as_p }}
  </div>
  <div class="text-center">
  <h3>Extra info</h3>
  {{ extra_info_form.as_p }}
  <button  type="submit" class="btn btn-info float-right">Save</button>
       </div>
  </form>

    </div>

{% endblock %}
